
 .Title:hover{
     color :rgb(245, 232, 147);
     background-color: rgb(101, 82, 14);
 }
 .block:hover{
    color :rgb(241, 200, 118);
    background-color:rgb(129, 100, 43);
    text-decoration: none;
 }
 a:hover{
     color : rgb(166, 129, 54);
     text-decoration: underline;
 }
 .nav:hover{
    color :rgb(106, 85, 43);
    background-color:rgb(202, 157, 67);
    text-decoration: none;
 }
.active:hover{
    text-decoration: none;
    color :rgb(241, 200, 118);
 }
 aside:hover{
box-shadow: 5px 5px 5px rgb(122, 68, 10);

 }
 #Archons:hover{
    box-shadow: 5px 5px 5px 5px rgb(122, 68, 10);
 }
 .fanart:hover{
   box-shadow: 5px 5px 8px 0px rgb(122, 68, 10);
}
.container:hover .overlay{
   height : 30%;
   word-wrap: break-word;   
   overflow-wrap: break-word;
   word-break: break-word;
}