#heading:hover{
    /* color: rgb(245, 232, 147); 
     text-shadow: 0 0 8px rgb(129, 106, 23); */
     text-shadow: 0 0 8px rgb(245, 232, 147);
 }
 .Title:hover{
     color :rgb(245, 232, 147);
     background-color: rgb(101, 82, 14);
 }
 .block:hover{
    color :rgb(241, 200, 118);
    background-color:rgb(129, 100, 43);
 }
 a:hover{
     color : rgb(166, 129, 54);
     text-decoration: underline;
 }