 .Title:hover {
    color: rgb(245, 232, 147);
    background-color: rgb(101, 82, 14);
 }

 .block:hover {
    color: rgb(241, 200, 118);
    background-color: rgb(129, 100, 43);
    text-decoration: none;
 }

 a:hover {
    color: rgb(166, 129, 54);
    text-decoration: underline;
 }

 .nav:hover {
    color: rgb(71, 55, 24);
    background-color: rgb(202, 157, 67);
    text-decoration: none;
 }

 .active:hover {
    text-decoration: none;
    color: rgb(241, 200, 118);
 }

 aside:hover {
    box-shadow: 5px 5px 5px rgb(122, 68, 10);

 }

 /*Parent element state can only affect a child's element state */
 .container:hover .fanart {
    box-shadow: 5px 5px 10px 5px rgb(122, 68, 10);
    transform: scale(1.1);
    transition: .2s ease;
 }

 .container:hover .overlay {
    height: 35%;
    word-wrap: break-word;
    transition-delay: .1s;


 }


 .credit:hover {
    color: rgb(246, 231, 171);
 }

 .contact:hover {
    box-shadow: .5px .5px .75px 1px rgb(246, 227, 193);
 }
 #ins:hover{
   border-radius: 30%;
 }
 #square:hover{
border-radius: 10%;
 }
 #round:hover{
   border-radius: 50%;
 }
