/*The <img> that is inside the figure <introPic>. If I don't set the width to 100%, it will overflow the figure*/
#zhongli1{
   /* height : 330px;
    width : 300px; */   
    width : 100%;
    padding-top: 2px;
}
#zhongli2{
height : 200px;
width : 200px;
}
/*introPic is the name of the <figure> where zhongli1 is in, which is inside a <div>. It takes the 100% width of the <div>*/
#introPic{
    width : 100%;
    float : center;
    margin : 0 auto;
}


/*How to center an image*/
.Pic{
    width : 580px;
    height : 350px;
   
    
}
#Archons{
    width : 700px; 
    height : 494px;
    margin : 40px 0;
    margin-left : 15px;
}

/*<div> did not wrap the picture when float:left; was used. The width of <div> was set to 20% at that time
Same thing happened when position was set to absolute*/
.fanart{
    width:100%;
    height :auto;
   /*float : left;*/
    display : inline-block;
    top: 4px;
    margin : 0;
    padding : 0px;
    position: relative;
}

#treat{
    width:40%;
    margin : 0 auto;
}