/*The <img> that is inside the figure <introPic>*/
#zhongli1{
   /* height : 330px;
    width : 300px; */   
    width : 100%;
    padding-top: 2px;
}
#zhongli2{
height : 200px;
width : 200px;
}
/*introPic is the name of the <figure> where zhongli1 is in, which is inside a <div>. It takes the 100% width of the <div>*/
#introPic{
    width : 100%;
    float : center;
    margin : 0 auto;
}


/*How to center an image*/
.Pic{
    width : 580px;
    height : 350px;
   
    
}
#Archons{
    width : 700px; 
    height : 494px;
    margin-left : 30px;
}