@media screen and (max-width: 480px) {
    main {
        margin: 0;
        padding: 0;
    }
}

@media screen and (min-width: 480px) and (max-width: 950px) {
    main {
        margin: 0 20px;
        padding: 0;
    }
}

@media screen and (max-width: 950px) {

    /*To show the overview section before the iframe in smaller screens*/
    #wrapper {
        display: flex;
        flex-direction: column-reverse;
    }

    .leftSect {
        float: left;
        width: 95%;
    }

    .rightSect {
        width: 70%;
        margin: 5px auto;
        display: table;
    }

    #contents {
        width: 70%;
        margin: 20px auto;
    }
    
    /* Responsive iframe */

    /*iframe{
        display: block;
        width: 100%;
    } */

    #frame {
        width: 100%;
        height: 0;
        padding-bottom: 56%; /* Change this till it fits the dimensions of your video */
        position: relative;
        margin-left: auto;
        margin-right: auto;
    }

    iframe {
        width: 100%;
        height: 100%;
        position: absolute;
        display: block;
        top: 0;
        left: 0;
    }


    #appearance,
    #rightPic,
    #centerPic,
    #zhongli2,
    .Pic,
    #clickable,
    #treat {
        float: none;
        width: 98%;
        height: fit-content;
        margin: auto;
    }

    #left-aside,
    #right-aside,
    aside,
    #click-aside {
        margin: 0px auto;
        padding: 2px;
        float: none;
        width: 98%;
    }

    .art-div {
        position: static;
        width: 95%;
        margin: auto;
        padding: 0;
    }

    .container {
        width: 80%;
        display: block;
        margin: 20px auto;
    }

    #Archons {
        margin: 0;
        display: block;
        width: 100%;
        height: auto;
    }

    #imageMap {
        justify-content: center;
        transform: scale(.9);
        padding: 0;
        margin: 0;
    }

    footer {
        padding: 10px;
    }
}