@media screen and (max-width: 950px) {
    .main {
        margin: 0 10px;
        overflow: hidden;
    }

    .leftSect {
        float: left;
        width: 95%;
    }

    .rightSect {
        width: 70%;
        margin: 5px auto;
        display: table;
    }

    #contents {
        width: 70%;
        margin: 20px auto;
    }

    iframe {
        width: 90%;
        height: auto;
        margin: auto;
    }

    #appearance,
    #rightPic,
    #centerPic,
    #zhongli2,
    .Pic,
    #clickable,
    #treat {
        float: none;
        width: 98%;
        height: fit-content;
        margin: auto;
    }

    #left-aside,
    #right-aside,
    aside,
    #click-aside {
        margin: 0px auto;
        padding: 2px;
        float: none;
        width: 98%;
    }

    .art-div {
        position: static;
        width: 95%;
        margin: auto;
        padding: 0;

    }

    .container {
        width: 80%;
        display: block;
        margin: 20px auto;
    }

    #Archons {
        margin: 0;
    }

    footer {
        padding: 10px;
    }
}