body {
    color: rgb(129, 106, 23);
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: justify;
    padding: 0;
    margin: 0;
    background-image: url(Images/Liyue.jpg);
}

p {
    margin: 0px 30px;
    color: rgb(84, 69, 17);
}

.heading {
    text-align: center;
    /*background-color: rgba(197, 162, 35);*/
    background-image: url(Images/morax.jpg);
    text-shadow: 1px 1px 8px rgb(245, 232, 147);
    padding: 30px;
    margin: 0 auto;
    color: rgb(43, 28, 10);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
}

main {
    margin: 0px 60px;
    background-color: rgb(214, 176, 61);
    /*padding-bottom: 40px;    rgba(232, 208, 119);*/
    height: 100%;
    padding: 0;

}

marquee {
    color: #e69c43;
    background-color: #422301;
    top: 0;
    position: sticky;
    margin: 0;
    padding: 0;
    z-index: 1;
}

iframe {
    margin: auto;
    display: block;
}

/*division*/
.rightSect {
    margin-left: 50px;
    width: 25%;
    border: rgb(73, 60, 11);
    border-style: solid;
    display: inline-block;
    /**/

}

.leftSect {
    float: left;
    width: 67%;
}

.Title {
    color: rgb(73, 60, 11);
    background-color: rgb(197, 162, 35);
    font-size: 30px;
    padding: 2px 30px;
    clear: both;
    /*so that it won't be influenced by the floating other divs, but will move down below them.*/

}


.rightPic {
    float: right;
    margin-top: 3px;

}

.centerPic {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

figcaption {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(101, 82, 14);
}


/*a table cannot be centered if the width is set to 100% (full-width).*/
table {
    background-color: rgba(193, 149, 62, 0.625);
    border-collapse: collapse;
    width: 100%;

}

caption {
    float: center;
    color: rgb(216, 175, 63);
    background-color: rgb(102, 78, 30);

}

td {
    border: 1px solid rgb(255, 243, 209);
    border-right: none;
    border-left: none;
    border-collapse: collapse;
    color: rgb(94, 85, 18);
    margin: 0 auto;


}

/*anchor*/
.topic {
    text-decoration: none;
    color: rgb(94, 85, 18);
    display: block;
    font-size: large;
}

a {
    color: rgb(104, 81, 35);
}

aside {
    margin: 5px;
    padding: 15px;
    margin: 0px 15px;
    font-style: italic;
    color: rgb(109, 93, 35);
    background-color: rgb(245, 211, 90);
}

/*overflow:hidden prevents li elements from going outside of the list. The <p> started right next to the <li> elements when this overflow:hidden was not used*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(98, 66, 25);
    display: block;
    top: 20px;
    position: sticky;
    margin-bottom: 3px;
    z-index: 1;
}

li {
    float: left;
    display: block;
    padding: 8px;
}

.nav {
    text-decoration: none;
    display: block;
    padding: 8px;
    color: #ecb36c;
}

.active {
    text-decoration: none;
    display: block;
    padding: 8px;
    color: rgb(241, 200, 118);
    background-color: rgb(50, 37, 10);
}


/*centering audio tag*/
audio {
    margin: 0 auto;
    display: table;
}

footer {
    background-color: rgb(17, 11, 2);
    color: #ada28f;
    text-align: left;
    padding: 30px;
    margin: 0;

}

.contact {
    height: 1em;
}


.credit {
    color: rgb(255, 252, 240);
}