body{
    color : rgb(129, 106, 23);
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: justify;
}
p{
    margin : 0px 15px;
}
/*division*/
.rightSect{
    float:left; 
    margin-left: 50px;
    width : 25%;
    border :rgb(73, 60, 11);
    border-style: solid;
    /*display : inline-block;*/
}
.leftSect{
    float : left;
    width : 67%;
}
.Title{
    color :  rgb(73, 60, 11);
    background-color: rgb(197, 162, 35);
    font-size: 30px;
    padding : 2px 30px;
}

.rightPic{
    float : right;
    margin-top: 3px;
    
}

.centerPic{
    text-align: center;
    margin-left : auto;
    margin-right : auto;
}
figcaption{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(101, 82, 14);
}
td{
    border: 1px solid white;
    border-right : none;
    border-left : none;
    border-collapse : collapse;
    color: rgb(94, 85, 18);
    margin : 0 auto;

}
table{
    width : 100%;
    background-color : rgba(193, 149, 62, 0.625);
    border-collapse : collapse;
}
caption{
    float: center;
    color:rgb(94, 85, 18);
    background-color : rgba(188, 146, 60);
  
}
a{
    text-decoration: none;
    color : rgb(94, 85, 18);
    width : 100%;
}
