h4{
    color :  rgb(73, 60, 11);
    margin : 0px 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#right-aside{
    width : 30%;
    padding: 15px;
    margin: 0px 15px;
    float : right;
    font-style: italic;
    color: rgb(73, 60, 11);
    background-color: rgb(246, 216, 109);
}

#left-aside{
    width : 30%;
    padding: 15px;
    margin : 0px 15px;
    float : left;
    font-style: italic;
    color: rgb(109, 93, 35);
    background-color: rgb(245, 211, 90);
}

#click-aside{
    float : right;
    margin-top: 150px;
    margin-right: 50px;
    padding : 8px 8px;
    background-color: rgba(233, 205, 84, 0.544);
}
#Z{
    color: rgb(51, 43, 15);
}
#V{
    color :rgb(12, 95, 23);
}
#R{
    color :rgb(104, 4, 96);;
}
#name{
    background-color: rgb(102, 78, 30);
    color: rgb(216, 175, 63);
    padding : 5px;
    margin : 0 auto;
    text-align: center;
}
#contents{
    width : 35%;
    margin-left : 15px;
    margin : 20px auto;
}
#appearance{
    float : left;
    width : 20%;
    margin : 0 5px;
}

#clickable{
    font-size: .75em;
}
#picCredit{
    text-align: right;
}
