
/*division*/
.rightSect{
    float:left; 
    margin-left: 10px;
    width : 25%;
    border :rgb(73, 60, 11);
    border-style: solid;
    /*display : inline-block;*/
}
.leftSect{
    float : left;
    width : 70%;
}
.Title{
    color :  rgb(73, 60, 11);
    background-color: rgb(197, 162, 35);
    font-size: 30px;
    padding : 2px 30px;
}